# sudo vim /etc/systemd/system/sample.service
# sudo systemctl daemon-reload
# sudo systemctl enable sample
# sudo systemctl start sample
[Unit]
Description=sample
After=network.service

[Service]
Type=simple
Restart=always
#ExecStartPre=
ExecStart=bash -c "while sleep 10; do date; done"
StandardOutput=file:/tmp/sample_stdout.log
StandardError=file:/tmp/sample_stderr.log
User=sample
Group=sample
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
