[Unit]
Description=sample
After=network.service

[Service]
Type=simple
Restart=always
#ExecStartPre=
ExecStart=bash -c "while :; do sleep 3600; done"
StandardOutput=file:/home/sample/logs/stdout.log
StandardError=file:/home/sample/logs/stderr.log
User=sample
Group=sample
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
